:root {
    --color-gray-f: #ffffff;
    --color-gray-1: #FBFBFB;
    --color-gray-2: #EFEFEF;
    --color-gray-3: #F8F8F8;
    --color-gray-0: #000000;

    --color-blue-1: #088CE8;
    --color-blue-2: #E4EDFD;
  }
  
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}
h1, h2 {
    text-align: center;
}
ul {
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.main-page {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}
.main-page__menu {

}