.button {
    width: 100%;
    line-height: 13px;
    padding: 12px 0;
    background: #3369f3;
    border-radius: 8px;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: all .3s;
}