.input-container{
    position: relative;
    &__search-icon {
        width: 14px;
        height: 14px;
        position: absolute;
        left: 35%;
        top: 9px;
        color: #999;
        background-image: url('../../../static/assets/svg/search.svg');
        background-repeat: no-repeat;
    }
    &__search-field {
        width: 100%;
        height: 32px;
        background: #efefef;
        border-radius: 5px;
        border: none;
        text-align: center;
    }
}