$color-gray-f: #ffffff;
$color-gray-1: #fbfbfb;
$color-gray-2: #efefef;
$color-gray-3: #f8f8f8;
$color-gray-4: #EAEAEA;
$color-gray-5: #999999;
$color-gray-0: #000000;

$color-blue-1: #088ce8;
$color-blue-2: #e4edfd;