extends ../../components/htmlHeader/htmlHeader.pug
include ../../components/button/button.pug
     
block title
    title='Sign up'
block links
    link(rel="stylesheet", href="signup.scss")

block content
    form.form
        h1="Регистрация"
        +button("submit",  "mt-30", "Авторизоваться")