extends ../../components/htmlHeader/htmlHeader.pug
include ../../components/inputs/input/input.pug
include ../../components/button/button.pug
     
block title
    title='Sign up'
block links
    link(rel="stylesheet", href="signup.scss")

block content
    section(class="signup")
        form.signup__form
            h1(class="form__title")="Регистрация"
            +input({
            label: "Почта", 
            inputWrapper: "form__input",
            id:"input-1",
            labelClass:"profile__input-label",
            inputClass: "profile__input",
            type: "mail",
            name:"email", 
            value:"pochta@yandex.ru" })
            +input({
            label: "Логин", 
            inputWrapper: "form__input",
            id:"input-2",
            labelClass:"profile__input-label",
            inputClass: "profile__input",
            name:"login", 
            value:"ivanivanov" })
            +input({
            label: "Имя", 
            inputWrapper: "form__input",
            id:"input-3",
            labelClass:"profile__input-label",
            inputClass: "profile__input",
            name:"user-name", 
            value:'Иван' })
            +input({
            label: "Фамилия", 
            inputWrapper: "form__input",
            id:"input-4",
            labelClass:"profile__input-label",
            inputClass: "profile__input",
            name:"user-second-name", 
            value:'Иванов' })
            +input({
            label: "Телефон", 
            inputWrapper: "form__input",
            id:"input-5",
            name:"tel", 
            value:'+7 (909) 967 30 30' })
            +input({
            label: "Пароль", 
            id:"input-6",
            name:"password",
            value: "ivanivanov",
            type: "password",
            inputWrapper: "form__input" })
            +input({
            label: "Пароль (еще раз)", 
            id:"input-7",
            name:"password",
            value: "ivanivanov",
            type: "password",
            inputWrapper: "form__input" })
            .form__links
                +button("submit",'form__button' , "Зарегистрироваться")
                a(href="../chat/chat.pug" class="form__link")="Войти"