extends ../../components/htmlHeader/htmlHeader.pug
include ../../components/inputs/input/input.pug
include ../../components/button/button.pug

block title
    title='Профиль'
block links
    link(rel="stylesheet" href="profileChangePassword.scss")
block content
    .profile
        .profile__sidebar
            a(href="../chat/chat.pug" class="profile__link-back")
                span(class="profile__link-back-icon")
        .profile__wrapper
            .profile__container
                .profile__avatar
                    span(class="profile__image-edit-text") Поменять аватар
                    img(src='../../../static/assets/img/avatar-no-photo.jpg' alt="Аватар юзера")
                h1(class="profile__title profile__title--hidden") Профиль
                form.profile__form(action='#')
                    .profile__inputs
                        +input({
                        label: "Старый пароль", 
                        id:"input-1",
                        name:"oldPassword",
                        value: "ivanivanov",
                        type: "password",
                        inputWrapper: "profile__input-wrapper", 
                        labelClass:"profile__input-label",
                        inputClass: "profile__input"})
                        +input({
                        label: "Новый пароль", 
                        id:"input-2",
                        name:"newPassword",
                        value: "ivanivanov11",
                        type: "password",
                        inputWrapper: "profile__input-wrapper", 
                        labelClass:"profile__input-label",
                        inputClass: "profile__input"})
                        +input({
                        label: "Повторите новый пароль", 
                        id:"input-3",
                        name:"repeatPassword",
                        value: "ivanivanov11",
                        type: "password",
                        inputWrapper: "profile__input-wrapper", 
                        labelClass:"profile__input-label",
                        inputClass: "profile__input"})
                .profile__buttons
                    +button("submit",'profile__button' , "Сохранить")