.message {
    align-self: flex-start;
    max-width: 400px;
    padding: 11px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: $color-gray-3;
    &__text {
        display: inline;
      }
    &__time {
      margin-left: auto;
      display: flex;
      align-items: center;
      &--user {
          color: $color-blue-1;
      }
    }
    &--user {
      align-self: flex-end;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 0;
      background: #e4edfd;
    }
    &__icon--read {
        width: 11px;
        height: 5px;
        color: #999;
        background-image: url('../../../static/assets/svg/read-message.svg');
        background-repeat: no-repeat;
    }
}